/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23-abr-2014, 19:10:34
    Author     : alumnes
*/

.hotel_image {
    display: inline-block;
    width: 34%;
    height: 170px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hotel_mapa {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 300px;
}

.hotel_descr {
    display: inline-block;
    width: 64%;
    height: 150px;
    vertical-align: top;
    text-align: justify;
    float: right;
}

.localitat {
    display: block;
    font-size: 16px;
}

.estrella {
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url('../img/estrella.png');
    background-position: center;
    background-size: cover;
}

.well h3 {
    margin: 0;
}

.maxi {
    display: none;
}

.mostrar-ocultar {
    display: block;
    margin-top: 5px;
    width: 100%;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    padding: 5px 0;
    background-color: #e5e5e5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}

.mostrar-ocultar:hover {
    background-color: #d5d5d5;
    cursor: pointer;
}


/* ICONS */
ul.icons {
    margin: 0;
    padding: 0;
    list-style: none;
}

ul.icons li {
    margin-top: 5px;
    padding-left: 20px;
    background-image: url('../img/icons.png');
    background-repeat: no-repeat;
}

ul.icons li:first-child {
    margin-top: 0;
}

ul.icons li:last-child {
    margin-bottom: 5px;
}

li.icon-telefono {
    background-position: 0 -750px;
}

li.icon-email {
    background-position: 0 -500px;
}

li.icon-direccio {
    background-position: 0 -250px;
}


/*ESTATS*/
.estats {
    display: inline-block;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.428571429;
    text-align: center;
    white-space: nowrap;
    border-width: 0;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    background-image: none;
    color: #fff;
    border-radius: 4px;
    float: right;
}

.estat-oberta {
    background-color: #2ecc71;
}

.estat-pagada {
    background-color: #3498db;
}

.estat-tancada {
    background-color: #9b59b6;
}

.estat-anulada {
    background-color: #e74c3c;
}

.estat-reservat {
    background-color: #428bca;
    opacity: 0.65;
    padding: 7px 12px;
}

.carregant {
    background-color: #428bca;
    background-image: url('../img/cargando.gif');
    background-repeat: no-repeat;
    background-size: 8% auto;
    padding-left: 40px;
    background-position: 10px 50%;
    float: none;
    clear: both;
}